@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  } */
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }
}

:root {
  --foreground-rgb: 0, 0, 0; /* Black text for light theme */
  --background-start-rgb: 214, 219, 220; /* Light gray start color */
  --background-end-rgb: 255, 255, 255; /* White end color */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Black text for light theme */
    --background-start-rgb: 214, 219, 220; /* Light gray start color */
    --background-end-rgb: 255, 255, 255; /* White end color */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
